<!-- List of the model Movie. No need for view models -->
@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<!-- Model property -->
@if(!Model.Any())
{
    <p>There are no movies registered.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movie</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>
                        @movie.Name
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
