<!-- List of the model Customer. No need for view models -->
@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<!-- Model property -->
@if (!Model.Any())
{
    <p>There are no customers registered.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Membership Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var customer in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)
                    </td>
                    <td>
                        @customer.MembershipType.Name
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
